In [48]:
import datetime
import seaborn as sns
import warnings
import matplotlib.pyplot as plt
from numpy.polynomial.polynomial import polyfit
import matplotlib.style as style 
from IPython.display import Image
warnings.filterwarnings('ignore')\

## 1. SNS 데이터 불러오기 및 columns, row 확인

In [151]:
sns_data = pd.read_csv("2020 bigcontest data_wisenut.csv", sep="")

In [152]:
pd.options.display.max_columns = len(sns_data.columns)

In [154]:
sns_data.head()

,SEQ,GU_CD,GU_NM(삭제),DONG_CD,DONG_NM(삭제),NEWS_CNT_201902,NEWS_CNT_201903,NEWS_CNT_201904,NEWS_CNT_201905,NEWS_CNT_202002,NEWS_CNT_202003,NEWS_CNT_202004,NEWS_CNT_202005,BLOG_CNT_201902,BLOG_CNT_201903,BLOG_CNT_201904,BLOG_CNT_201905,BLOG_CNT_202002,BLOG_CNT_202003,BLOG_CNT_202004,BLOG_CNT_202005,CAFE_CNT_201902,CAFE_CNT_201903,CAFE_CNT_201904,CAFE_CNT_201905,CAFE_CNT_202002,CAFE_CNT_202003,CAFE_CNT_202004,CAFE_CNT_202005,UP_TOPIC_201902,UP_TOPIC_201903,UP_TOPIC_201904,UP_TOPIC_201905,UP_TOPIC_202002,UP_TOPIC_202003,UP_TOPIC_202004,UP_TOPIC_202005,UP1_POSITIVE_201902,UP1_POSITIVE_201903,UP1_POSITIVE_201904,UP1_POSITIVE_201905,UP1_POSITIVE_202002,UP1_POSITIVE_202003,UP1_POSITIVE_202004,UP1_POSITIVE_202005,UP2_POSITIVE_201902,UP2_POSITIVE_201903,UP2_POSITIVE_201904,UP2_POSITIVE_201905,UP2_POSITIVE_202002,UP2_POSITIVE_202003,UP2_POSITIVE_202004,UP2_POSITIVE_202005,UP3_POSITIVE_201902,UP3_POSITIVE_201903,UP3_POSITIVE_201904,UP3_POSITIVE_201905,UP3_POSITIVE_202002,UP3_POSITIVE_202003,UP3_POSITIVE_202004,UP3_POSITIVE_202005,UP4_POSITIVE_201902,UP4_POSITIVE_201903,UP4_POSITIVE_201904,UP4_POSITIVE_201905,UP4_POSITIVE_202002,UP4_POSITIVE_202003,UP4_POSITIVE_202004,UP4_POSITIVE_202005,UP5_POSITIVE_201902,UP5_POSITIVE_201903,UP5_POSITIVE_201904,UP5_POSITIVE_201905,UP5_POSITIVE_202002,UP5_POSITIVE_202003,UP5_POSITIVE_202004,UP5_POSITIVE_202005,UP6_POSITIVE_201902,UP6_POSITIVE_201903,UP6_POSITIVE_201904,UP6_POSITIVE_201905,UP6_POSITIVE_202002,UP6_POSITIVE_202003,UP6_POSITIVE_202004,UP6_POSITIVE_202005,UP1_NEGATIVE_201902,UP1_NEGATIVE_201903,UP1_NEGATIVE_201904,UP1_NEGATIVE_201905,UP1_NEGATIVE_202002,UP1_NEGATIVE_202003,UP1_NEGATIVE_202004,UP1_NEGATIVE_202005,UP2_NEGATIVE_201902,UP2_NEGATIVE_201903,UP2_NEGATIVE_201904,UP2_NEGATIVE_201905,UP2_NEGATIVE_202002,UP2_NEGATIVE_202003,UP2_NEGATIVE_202004,UP2_NEGATIVE_202005,UP3_NEGATIVE_201902,UP3_NEGATIVE_201903,UP3_NEGATIVE_201904,UP3_NEGATIVE_201905,UP3_NEGATIVE_202002,UP3_NEGATIVE_202003,UP3_NEGATIVE_202004,UP3_NEGATIVE_202005,UP4_NEGATIVE_201902,UP4_NEGATIVE_201903,UP4_NEGATIVE_201904,UP4_NEGATIVE_201905,UP4_NEGATIVE_202002,UP4_NEGATIVE_202003,UP4_NEGATIVE_202004,UP4_NEGATIVE_202005,UP5_NEGATIVE_201902,UP5_NEGATIVE_201903,UP5_NEGATIVE_201904,UP5_NEGATIVE_201905,UP5_NEGATIVE_202002,UP5_NEGATIVE_202003,UP5_NEGATIVE_202004,UP5_NEGATIVE_202005,UP6_NEGATIVE_201902,UP6_NEGATIVE_201903,UP6_NEGATIVE_201904,UP6_NEGATIVE_201905,UP6_NEGATIVE_202002,UP6_NEGATIVE_202003,UP6_NEGATIVE_202004,UP6_NEGATIVE_202005
0,1,140,서울 중구,520,소공동,4,6,16,34,26,3,9,8,139,595,810,398,212,152,94,196,13,1,76,80,289,122,102,6,"장관,기념식,창간,롯데호텔,뷔페","총동창회,서울대,박물관,월드비전,프로그램","기생충,반민특위,강원도,이재민,푯돌","동계올림픽,은퇴,여제,기자회견,눈물","롯데백화점,마포공덕점,프레지던트호텔,코로나바이러스,확진자","직원,롯데호텔,콜센터,코로나,확진자","도시계획위원회,정비계획,재개발구역,서소문,정비수법","창조인상,생명과학부,예술감독,코로나19,RNA",5,111,113,132,69,7,22,15,0,1,80,80,1,0,2,41,3,99,1143,47,49,42,17,1,0,15,222,259,6,8,2,6,0,10,39,77,102,0,0,316,16,45,100,69,51,26,0,301,0,0,10,16,51,13,2,2,0,0,1,0,9,0,0,1,2,4,768,0,10,14,1,2,0,1,309,1,24,5,0,6,0,4,117,1,29,0,24,0,7,11,186,5,1,6,0,10
1,2,140,서울 중구,540,회현동,4,0,8,27,15,25,5,10,230,512,789,508,226,319,121,320,16,46,87,73,295,134,126,9,"회현동,서울역,도시재생,윤동주,일제강점기","남산,케이블카,남산둘레길,국립극장,남산타워","서울지방경찰청,경복궁역,종교교회,용비어천가,종로구","저작권,녹색교통지역,기부채납,최고,인지","남산,남촌,중림,고도제한,개발제한","코로나19,남산둘레길,기부 행렬,랜드마크,남녀노소","코로나19,구조조정,산업단지,원장,각하","시민아파트,시범아파트,서울시장,충정아파트,회현",13,61,138,3,4,2,98,107,0,1,79,0,0,0,38,43,108,20,152,93,43,324,143,131,0,3,167,2349,10,58,27,180,0,18,96,5,14,0,0,322,330,13,164,795,46,222,2,356,12,0,0,0,0,0,0,74,0,0,1,0,0,0,56,49,7,6,306,19,9,131,88,25,0,1,57,508,20,11,38,44,0,4,38,0,3,0,27,17,49,1,63,251,0,58,0,71
2,3,140,서울 중구,550,명동,6,16,29,44,162,45,38,33,499,1300,1633,1092,520,695,259,589,70,119,186,114,368,233,159,567,"생활유산,열쇠고리,신세계백화점,리뉴얼,관광객","문화재,도시재생사업,을지로,등록문화재,보존","반민특위,푯돌,충무로,생활형숙박시설,하늘N","중구,문화예술인,문화도시,쓰레기,미화원","롯데백화점,코로나바이러스감염증,관광객,소상공인,확진자","확진자,중구,코로나,숙박시설,중국인","학원,코로나,확진자,집단감염,유흥업소","마스크,선별진료소,면마스크,천마스크,확진환자",106,356,699,334,90,84,215,445,0,22,101,77,1,11,2,153,213,997,843,4123,140,723,213,790,38,583,750,2818,146,521,117,227,13,362,211,188,128,160,26,384,528,466,351,622,151,537,88,669,93,17,39,34,81,96,21,170,3,9,1,0,2,3,6,107,24,128,594,625,38,230,71,330,5,40,336,565,193,369,91,354,0,33,115,25,226,260,35,46,34,74,226,137,17,84,22,326
3,4,140,서울 중구,570,필동,0,1,5,24,2,25,17,5,186,506,747,680,142,216,77,246,13,57,60,71,280,127,71,0,"저작권,영남상생포럼,자유한국장,지적,그랜드호텔","저작권,다가구주택,주주총회,주식회사,보증금","저작권,등록,기간,매각,유산","비용,주소,등록,신용불량자,유산","인테리어,도배장판,업체,거실,비용","케이블카,남산둘레길,남산타워,국립극장,남산","코로나,업종,감소율,자영업자,재난","코로나19,본점,주류,리스,양도",32,60,2,195,0,6,0,83,0,15,79,72,0,0,2,41,77,101,67,304,9,272,29,71,11,58,33,2722,0,39,4,28,0,10,87,118,0,0,0,316,284,109,52,133,6,237,19,304,7,0,1,0,0,0,0,52,0,0,1,0,0,0,3,1,4,22,274,50,9,79,1,5,0,31,4,508,0,15,0,1,0,22,10,6,0,0,24,0,1,17,162,14,0,46,22,37
4,5,140,서울 중구,580,장충동,13,8,13,34,20,2,17,3,213,694,886,326,287,345,104,458,13,51,66,84,351,165,142,60,"빵집,태극당,신라호텔,세관,감사원","프로포폴,호텔신라,이부진,투약,불법","신부,예비신랑,신라호텔,대학병원,결혼식","덴마크,왕세자,명예시민증,왕세자비,신라호텔","호텔신라,한옥호텔,착공,전통호텔,도시계획위원회","호텔신라,이부진,신라면세점,신라호텔,착공","코로나,업종,감소율,자영업자,재난","코로나,신세계조선호텔,브랜드,한옥호텔,특급호텔",29,140,363,90,41,27,97,272,2,1,105,6,3,0,2,127,34,130,286,178,12,252,170,609,0,58,76,0,12,23,68,248,0,25,93,0,31,1,0,316,45,25,60,27,13,7,22,492,9,13,9,3,25,5,5,132,0,0,2,3,7,0,3,81,34,26,87,57,28,31,45,103,0,8,9,0,10,17,53,155,0,4,2,0,37,0,8,17,0,0,199,12,5,0,22,125

### - 데이터 정리
1. 불필요 columns 삭제
2. 구, 동 columns 명 바꾸기

In [155]:
sns_data.drop(columns = ["SEQ", "GU_CD", "DONG_CD"], inplace = True)

In [156]:
sns_data.rename(columns = {"GU_NM(삭제)" : "자치구", "DONG_NM(삭제)" : "동"}, inplace = True)

In [157]:
sns_data.head()

,자치구,동,NEWS_CNT_201902,NEWS_CNT_201903,NEWS_CNT_201904,NEWS_CNT_201905,NEWS_CNT_202002,NEWS_CNT_202003,NEWS_CNT_202004,NEWS_CNT_202005,BLOG_CNT_201902,BLOG_CNT_201903,BLOG_CNT_201904,BLOG_CNT_201905,BLOG_CNT_202002,BLOG_CNT_202003,BLOG_CNT_202004,BLOG_CNT_202005,CAFE_CNT_201902,CAFE_CNT_201903,CAFE_CNT_201904,CAFE_CNT_201905,CAFE_CNT_202002,CAFE_CNT_202003,CAFE_CNT_202004,CAFE_CNT_202005,UP_TOPIC_201902,UP_TOPIC_201903,UP_TOPIC_201904,UP_TOPIC_201905,UP_TOPIC_202002,UP_TOPIC_202003,UP_TOPIC_202004,UP_TOPIC_202005,UP1_POSITIVE_201902,UP1_POSITIVE_201903,UP1_POSITIVE_201904,UP1_POSITIVE_201905,UP1_POSITIVE_202002,UP1_POSITIVE_202003,UP1_POSITIVE_202004,UP1_POSITIVE_202005,UP2_POSITIVE_201902,UP2_POSITIVE_201903,UP2_POSITIVE_201904,UP2_POSITIVE_201905,UP2_POSITIVE_202002,UP2_POSITIVE_202003,UP2_POSITIVE_202004,UP2_POSITIVE_202005,UP3_POSITIVE_201902,UP3_POSITIVE_201903,UP3_POSITIVE_201904,UP3_POSITIVE_201905,UP3_POSITIVE_202002,UP3_POSITIVE_202003,UP3_POSITIVE_202004,UP3_POSITIVE_202005,UP4_POSITIVE_201902,UP4_POSITIVE_201903,UP4_POSITIVE_201904,UP4_POSITIVE_201905,UP4_POSITIVE_202002,UP4_POSITIVE_202003,UP4_POSITIVE_202004,UP4_POSITIVE_202005,UP5_POSITIVE_201902,UP5_POSITIVE_201903,UP5_POSITIVE_201904,UP5_POSITIVE_201905,UP5_POSITIVE_202002,UP5_POSITIVE_202003,UP5_POSITIVE_202004,UP5_POSITIVE_202005,UP6_POSITIVE_201902,UP6_POSITIVE_201903,UP6_POSITIVE_201904,UP6_POSITIVE_201905,UP6_POSITIVE_202002,UP6_POSITIVE_202003,UP6_POSITIVE_202004,UP6_POSITIVE_202005,UP1_NEGATIVE_201902,UP1_NEGATIVE_201903,UP1_NEGATIVE_201904,UP1_NEGATIVE_201905,UP1_NEGATIVE_202002,UP1_NEGATIVE_202003,UP1_NEGATIVE_202004,UP1_NEGATIVE_202005,UP2_NEGATIVE_201902,UP2_NEGATIVE_201903,UP2_NEGATIVE_201904,UP2_NEGATIVE_201905,UP2_NEGATIVE_202002,UP2_NEGATIVE_202003,UP2_NEGATIVE_202004,UP2_NEGATIVE_202005,UP3_NEGATIVE_201902,UP3_NEGATIVE_201903,UP3_NEGATIVE_201904,UP3_NEGATIVE_201905,UP3_NEGATIVE_202002,UP3_NEGATIVE_202003,UP3_NEGATIVE_202004,UP3_NEGATIVE_202005,UP4_NEGATIVE_201902,UP4_NEGATIVE_201903,UP4_NEGATIVE_201904,UP4_NEGATIVE_201905,UP4_NEGATIVE_202002,UP4_NEGATIVE_202003,UP4_NEGATIVE_202004,UP4_NEGATIVE_202005,UP5_NEGATIVE_201902,UP5_NEGATIVE_201903,UP5_NEGATIVE_201904,UP5_NEGATIVE_201905,UP5_NEGATIVE_202002,UP5_NEGATIVE_202003,UP5_NEGATIVE_202004,UP5_NEGATIVE_202005,UP6_NEGATIVE_201902,UP6_NEGATIVE_201903,UP6_NEGATIVE_201904,UP6_NEGATIVE_201905,UP6_NEGATIVE_202002,UP6_NEGATIVE_202003,UP6_NEGATIVE_202004,UP6_NEGATIVE_202005
0,서울 중구,소공동,4,6,16,34,26,3,9,8,139,595,810,398,212,152,94,196,13,1,76,80,289,122,102,6,"장관,기념식,창간,롯데호텔,뷔페","총동창회,서울대,박물관,월드비전,프로그램","기생충,반민특위,강원도,이재민,푯돌","동계올림픽,은퇴,여제,기자회견,눈물","롯데백화점,마포공덕점,프레지던트호텔,코로나바이러스,확진자","직원,롯데호텔,콜센터,코로나,확진자","도시계획위원회,정비계획,재개발구역,서소문,정비수법","창조인상,생명과학부,예술감독,코로나19,RNA",5,111,113,132,69,7,22,15,0,1,80,80,1,0,2,41,3,99,1143,47,49,42,17,1,0,15,222,259,6,8,2,6,0,10,39,77,102,0,0,316,16,45,100,69,51,26,0,301,0,0,10,16,51,13,2,2,0,0,1,0,9,0,0,1,2,4,768,0,10,14,1,2,0,1,309,1,24,5,0,6,0,4,117,1,29,0,24,0,7,11,186,5,1,6,0,10
1,서울 중구,회현동,4,0,8,27,15,25,5,10,230,512,789,508,226,319,121,320,16,46,87,73,295,134,126,9,"회현동,서울역,도시재생,윤동주,일제강점기","남산,케이블카,남산둘레길,국립극장,남산타워","서울지방경찰청,경복궁역,종교교회,용비어천가,종로구","저작권,녹색교통지역,기부채납,최고,인지","남산,남촌,중림,고도제한,개발제한","코로나19,남산둘레길,기부 행렬,랜드마크,남녀노소","코로나19,구조조정,산업단지,원장,각하","시민아파트,시범아파트,서울시장,충정아파트,회현",13,61,138,3,4,2,98,107,0,1,79,0,0,0,38,43,108,20,152,93,43,324,143,131,0,3,167,2349,10,58,27,180,0,18,96,5,14,0,0,322,330,13,164,795,46,222,2,356,12,0,0,0,0,0,0,74,0,0,1,0,0,0,56,49,7,6,306,19,9,131,88,25,0,1,57,508,20,11,38,44,0,4,38,0,3,0,27,17,49,1,63,251,0,58,0,71
2,서울 중구,명동,6,16,29,44,162,45,38,33,499,1300,1633,1092,520,695,259,589,70,119,186,114,368,233,159,567,"생활유산,열쇠고리,신세계백화점,리뉴얼,관광객","문화재,도시재생사업,을지로,등록문화재,보존","반민특위,푯돌,충무로,생활형숙박시설,하늘N","중구,문화예술인,문화도시,쓰레기,미화원","롯데백화점,코로나바이러스감염증,관광객,소상공인,확진자","확진자,중구,코로나,숙박시설,중국인","학원,코로나,확진자,집단감염,유흥업소","마스크,선별진료소,면마스크,천마스크,확진환자",106,356,699,334,90,84,215,445,0,22,101,77,1,11,2,153,213,997,843,4123,140,723,213,790,38,583,750,2818,146,521,117,227,13,362,211,188,128,160,26,384,528,466,351,622,151,537,88,669,93,17,39,34,81,96,21,170,3,9,1,0,2,3,6,107,24,128,594,625,38,230,71,330,5,40,336,565,193,369,91,354,0,33,115,25,226,260,35,46,34,74,226,137,17,84,22,326
3,서울 중구,필동,0,1,5,24,2,25,17,5,186,506,747,680,142,216,77,246,13,57,60,71,280,127,71,0,"저작권,영남상생포럼,자유한국장,지적,그랜드호텔","저작권,다가구주택,주주총회,주식회사,보증금","저작권,등록,기간,매각,유산","비용,주소,등록,신용불량자,유산","인테리어,도배장판,업체,거실,비용","케이블카,남산둘레길,남산타워,국립극장,남산","코로나,업종,감소율,자영업자,재난","코로나19,본점,주류,리스,양도",32,60,2,195,0,6,0,83,0,15,79,72,0,0,2,41,77,101,67,304,9,272,29,71,11,58,33,2722,0,39,4,28,0,10,87,118,0,0,0,316,284,109,52,133,6,237,19,304,7,0,1,0,0,0,0,52,0,0,1,0,0,0,3,1,4,22,274,50,9,79,1,5,0,31,4,508,0,15,0,1,0,22,10,6,0,0,24,0,1,17,162,14,0,46,22,37
4,서울 중구,장충동,13,8,13,34,20,2,17,3,213,694,886,326,287,345,104,458,13,51,66,84,351,165,142,60,"빵집,태극당,신라호텔,세관,감사원","프로포폴,호텔신라,이부진,투약,불법","신부,예비신랑,신라호텔,대학병원,결혼식","덴마크,왕세자,명예시민증,왕세자비,신라호텔","호텔신라,한옥호텔,착공,전통호텔,도시계획위원회","호텔신라,이부진,신라면세점,신라호텔,착공","코로나,업종,감소율,자영업자,재난","코로나,신세계조선호텔,브랜드,한옥호텔,특급호텔",29,140,363,90,41,27,97,272,2,1,105,6,3,0,2,127,34,130,286,178,12,252,170,609,0,58,76,0,12,23,68,248,0,25,93,0,31,1,0,316,45,25,60,27,13,7,22,492,9,13,9,3,25,5,5,132,0,0,2,3,7,0,3,81,34,26,87,57,28,31,45,103,0,8,9,0,10,17,53,155,0,4,2,0,37,0,8,17,0,0,199,12,5,0,22,125

#### column 정리된 데이터 csv로 저장

In [20]:
sns_data.to_csv("SNS.csv", index = False)

## 2. SNS 데이터 column : 자치구, date, type(news, blog... 등) 정리
- 동을 자치구별로 합치기
- date, type 나누기

In [158]:
# 새로운 변수에 sns_data 깊은 복사
sns_dt = sns_data.copy()

In [160]:
# transpose를 하기위해 숫자index대신 "자치구"로 인덱스 변경
sns_dt.set_index("자치구", inplace = True)

In [161]:
# transpose 하기 : column에 자치구 넣어서 동을 자치구별로 합치기 / Type과 date 다른 컬럼으로 나누기 위해서
sns_dt = sns_dt.transpose()
sns_dt.head()

자치구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 노원구,서울 노원구,서울 노원구,서울 노원구,서울 노원구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 중구,대구 중구,대구 중구,대구 중구,대구 중구,대구 중구
동,소공동,회현동,명동,필동,장충동,광희동,신당동,다산동,약수동,청구동,동화동,황학동,중림동,월계동,공릉동,하계동,중계동,상계동,범어동,만촌동,수성동,황금동,중동,상동,파동,두산동,지산동,범물동,고산동,동인동,삼덕동,성내동,대신동,남산동,대봉동
NEWS_CNT_201902,4,4,6,0,13,3,9,2,0,0,0,0,5,12,41,0,35,0,42,4,12,20,0,0,0,4,0,3,0,15,2,1,9,13,4
NEWS_CNT_201903,6,0,16,1,8,0,18,0,0,0,0,0,0,37,36,3,41,33,30,8,10,23,5,4,0,15,0,0,0,11,13,0,0,26,18
NEWS_CNT_201904,16,8,29,5,13,0,4,0,0,0,0,0,0,5,15,2,0,15,44,18,0,22,2,4,3,20,2,21,0,15,6,4,0,3,15
NEWS_CNT_201905,34,27,44,24,34,24,0,0,0,8,0,11,8,36,39,9,40,10,117,78,7,78,2,3,0,57,6,56,0,18,10,0,2,43,6

## 3. 서울 중구 데이터 정리

In [162]:
sns_se_j = sns_dt["서울 중구"]
sns_se_j.head()

자치구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구,서울 중구
동,소공동,회현동,명동,필동,장충동,광희동,신당동,다산동,약수동,청구동,동화동,황학동,중림동
NEWS_CNT_201902,4,4,6,0,13,3,9,2,0,0,0,0,5
NEWS_CNT_201903,6,0,16,1,8,0,18,0,0,0,0,0,0
NEWS_CNT_201904,16,8,29,5,13,0,4,0,0,0,0,0,0
NEWS_CNT_201905,34,27,44,24,34,24,0,0,0,8,0,11,8

In [163]:
# 동 삭제
sns_se_j.drop(index = "동", inplace = True)

In [164]:
# type별 게시량 건수 합쳐서 새로운 sj_cnt 컬럼에 넣기
sns_se_j = sns_se_j.sum(axis=1)
sns_se_j = sns_se_j.reset_index(name="sj_cnt")
sns_se_j.rename(columns={"index":"dt"})

                      dt sj_cnt
0        NEWS_CNT_201902     46
1        NEWS_CNT_201903     49
2        NEWS_CNT_201904     75
3        NEWS_CNT_201905    214
4        NEWS_CNT_202002    259
..                   ...    ...
123  UP6_NEGATIVE_201905    452
124  UP6_NEGATIVE_202002     27
125  UP6_NEGATIVE_202003    226
126  UP6_NEGATIVE_202004     91
127  UP6_NEGATIVE_202005    749

[128 rows x 2 columns]

In [165]:
# date 컬럼 새로 만들기
ls=[201902, 201903, 201904, 201905, 202002, 202003, 202004, 202005]
sns_se_j["date"] = ls*16

In [166]:
# type 컬럼 새로 만들기
ls_2=["News"]*8+["Blog"]*8+["Cafe"]*8+["UP_Topic"]*8+["UP1_Positive"]*8+["UP2_Positive"]*8+["UP3_Positive"]*8+["UP4_Positive"]*8\
        +["UP5_Positive"]*8+["UP6_Positive"]*8+["UP1_Negative"]*8+["UP2_Negative"]*8+["UP3_Negative"]*8+["UP4_Negative"]*8\
        +["UP5_Negative"]*8+["UP6_Negative"]*8

In [167]:
sns_se_j["Type"]=ls_2

In [168]:
# sns_se_j 데이터프레임 : date, Type, sj_cnt 컬럼으로 정렬
sns_se_j.drop(columns="index", inplace = True)
sns_se_j = sns_se_j[["date", "Type", "sj_cnt"]]

In [171]:
sns_se_j.head()

     date  Type sj_cnt
0  201902  News     46
1  201903  News     49
2  201904  News     75
3  201905  News    214
4  202002  News    259

## 4. 서울 노원구 데이터 정리

In [172]:
sns_se_n = sns_dt["서울 노원구"]
sns_se_n.head()

자치구             서울 노원구 서울 노원구 서울 노원구 서울 노원구 서울 노원구
동                  월계동    공릉동    하계동    중계동    상계동
NEWS_CNT_201902     12     41      0     35      0
NEWS_CNT_201903     37     36      3     41     33
NEWS_CNT_201904      5     15      2      0     15
NEWS_CNT_201905     36     39      9     40     10

In [173]:
# 동 삭제
sns_se_n.drop(index = "동", inplace = True)

# type별 게시량 건수 합쳐서 새로운 sn_cnt 컬럼에 넣기
sns_se_n = sns_se_n.sum(axis=1)
sns_se_n = sns_se_n.reset_index(name="sn_cnt")
sns_se_n.rename(columns={"index":"dt"})

                      dt sn_cnt
0        NEWS_CNT_201902     88
1        NEWS_CNT_201903    150
2        NEWS_CNT_201904     37
3        NEWS_CNT_201905    134
4        NEWS_CNT_202002    172
..                   ...    ...
123  UP6_NEGATIVE_201905    127
124  UP6_NEGATIVE_202002     17
125  UP6_NEGATIVE_202003      8
126  UP6_NEGATIVE_202004     28
127  UP6_NEGATIVE_202005    192

[128 rows x 2 columns]

In [174]:
# date 컬럼 새로 만들기
ls=[201902, 201903, 201904, 201905, 202002, 202003, 202004, 202005]
sns_se_n["date"] = ls*16

# type 컬럼 새로 만들기
ls_2=["News"]*8+["Blog"]*8+["Cafe"]*8+["UP_Topic"]*8+["UP1_Positive"]*8+["UP2_Positive"]*8+["UP3_Positive"]*8+["UP4_Positive"]*8\
        +["UP5_Positive"]*8+["UP6_Positive"]*8+["UP1_Negative"]*8+["UP2_Negative"]*8+["UP3_Negative"]*8+["UP4_Negative"]*8\
        +["UP5_Negative"]*8+["UP6_Negative"]*8
sns_se_n["Type"]=ls_2

# sns_se_n 데이터프레임 : date, Type, sn_cnt 컬럼으로 정렬
sns_se_n.drop(columns="index", inplace = True)
sns_se_n = sns_se_n[["date", "Type", "sn_cnt"]]

sns_se_n.head()

     date  Type sn_cnt
0  201902  News     88
1  201903  News    150
2  201904  News     37
3  201905  News    134
4  202002  News    172

## 5. 대구 수성구 데이터 정리

In [175]:
sns_da_s = sns_dt["대구 수성구"]
sns_da_s.head()

자치구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구,대구 수성구
동,범어동,만촌동,수성동,황금동,중동,상동,파동,두산동,지산동,범물동,고산동
NEWS_CNT_201902,42,4,12,20,0,0,0,4,0,3,0
NEWS_CNT_201903,30,8,10,23,5,4,0,15,0,0,0
NEWS_CNT_201904,44,18,0,22,2,4,3,20,2,21,0
NEWS_CNT_201905,117,78,7,78,2,3,0,57,6,56,0

In [176]:
# 동 삭제
sns_da_s.drop(index = "동", inplace = True)

# type별 게시량 건수 합쳐서 새로운 ds_cnt 컬럼에 넣기
sns_da_s = sns_da_s.sum(axis=1)
sns_da_s = sns_da_s.reset_index(name="ds_cnt")
sns_da_s.rename(columns={"index":"dt"})

                      dt ds_cnt
0        NEWS_CNT_201902     85
1        NEWS_CNT_201903     95
2        NEWS_CNT_201904    136
3        NEWS_CNT_201905    404
4        NEWS_CNT_202002    986
..                   ...    ...
123  UP6_NEGATIVE_201905    498
124  UP6_NEGATIVE_202002   1269
125  UP6_NEGATIVE_202003   1349
126  UP6_NEGATIVE_202004    776
127  UP6_NEGATIVE_202005   1696

[128 rows x 2 columns]

In [177]:
# date 컬럼 새로 만들기
ls=[201902, 201903, 201904, 201905, 202002, 202003, 202004, 202005]
sns_da_s["date"] = ls*16

# type 컬럼 새로 만들기
ls_2=["News"]*8+["Blog"]*8+["Cafe"]*8+["UP_Topic"]*8+["UP1_Positive"]*8+["UP2_Positive"]*8+["UP3_Positive"]*8+["UP4_Positive"]*8\
        +["UP5_Positive"]*8+["UP6_Positive"]*8+["UP1_Negative"]*8+["UP2_Negative"]*8+["UP3_Negative"]*8+["UP4_Negative"]*8\
        +["UP5_Negative"]*8+["UP6_Negative"]*8
sns_da_s["Type"]=ls_2

# sns_da_s 데이터프레임 : date, Type, ds_cnt 컬럼으로 정렬
sns_da_s.drop(columns="index", inplace = True)
sns_da_s = sns_da_s[["date", "Type", "ds_cnt"]]

sns_da_s.head()

     date  Type ds_cnt
0  201902  News     85
1  201903  News     95
2  201904  News    136
3  201905  News    404
4  202002  News    986

## 6. 대구 중구 데이터 정리

In [178]:
sns_da_j = sns_dt["대구 중구"]
sns_da_j.head()

자치구             대구 중구 대구 중구 대구 중구 대구 중구 대구 중구 대구 중구
동                 동인동   삼덕동   성내동   대신동   남산동   대봉동
NEWS_CNT_201902    15     2     1     9    13     4
NEWS_CNT_201903    11    13     0     0    26    18
NEWS_CNT_201904    15     6     4     0     3    15
NEWS_CNT_201905    18    10     0     2    43     6

In [179]:
# 동 삭제
sns_da_j.drop(index = "동", inplace = True)

# type별 게시량 건수 합쳐서 새로운 dj_cnt 컬럼에 넣기
sns_da_j = sns_da_j.sum(axis=1)
sns_da_j = sns_da_j.reset_index(name="dj_cnt")
sns_da_j.rename(columns={"index":"dt"})

                      dt dj_cnt
0        NEWS_CNT_201902     44
1        NEWS_CNT_201903     68
2        NEWS_CNT_201904     43
3        NEWS_CNT_201905     79
4        NEWS_CNT_202002    248
..                   ...    ...
123  UP6_NEGATIVE_201905    491
124  UP6_NEGATIVE_202002    156
125  UP6_NEGATIVE_202003     88
126  UP6_NEGATIVE_202004     17
127  UP6_NEGATIVE_202005     23

[128 rows x 2 columns]

In [180]:
# date 컬럼 새로 만들기
ls=[201902, 201903, 201904, 201905, 202002, 202003, 202004, 202005]
sns_da_j["date"] = ls*16

# type 컬럼 새로 만들기
ls_2=["News"]*8+["Blog"]*8+["Cafe"]*8+["UP_Topic"]*8+["UP1_Positive"]*8+["UP2_Positive"]*8+["UP3_Positive"]*8+["UP4_Positive"]*8\
        +["UP5_Positive"]*8+["UP6_Positive"]*8+["UP1_Negative"]*8+["UP2_Negative"]*8+["UP3_Negative"]*8+["UP4_Negative"]*8\
        +["UP5_Negative"]*8+["UP6_Negative"]*8
sns_da_j["Type"]=ls_2

# sns_da_j 데이터프레임 : date, Type, dj_cnt 컬럼으로 정렬
sns_da_j.drop(columns="index", inplace = True)
sns_da_j = sns_da_j[["date", "Type", "dj_cnt"]]

sns_da_j.head()

     date  Type dj_cnt
0  201902  News     44
1  201903  News     68
2  201904  News     43
3  201905  News     79
4  202002  News    248

## 7. 데이터 합치기

In [185]:
sns_final_data = sns_se_j
sns_final_data["sn_cnt"] = sns_se_n["sn_cnt"]
sns_final_data["ds_cnt"] = sns_da_s["ds_cnt"]
sns_final_data["dj_cnt"] = sns_da_j["dj_cnt"]
sns_final_data

       date          Type sj_cnt sn_cnt ds_cnt dj_cnt
0    201902          News     46     88     85     44
1    201903          News     49    150     95     68
2    201904          News     75     37    136     43
3    201905          News    214    134    404     79
4    202002          News    259    172    986    248
..      ...           ...    ...    ...    ...    ...
123  201905  UP6_Negative    452    127    498    491
124  202002  UP6_Negative     27     17   1269    156
125  202003  UP6_Negative    226      8   1349     88
126  202004  UP6_Negative     91     28    776     17
127  202005  UP6_Negative    749    192   1696     23

[128 rows x 6 columns]

In [189]:
# SNS_Final_01.csv 저장
sns_final_data.to_csv("SNS_Final_01.csv", index = False)